body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}   

.header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    height: 72px;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    color: white;
}
