/* SETUP -----------------------------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: "roboto", sans-serif, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}   

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.sec-a,
.sec-b,
.sec-c,
.sec-d {
    display: flex;
    padding: 72px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* HEADER ------------------------------------------------------------------------------------------------------------------------------------ */

.header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding: 24px 124px;
    justify-content: space-between;
    align-items: center;
}

.header p {
    font-size: 24px;
}

.header ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.header ul li a {
    text-decoration: none;
    color: white;
    margin: 12px;
}

/* SECTION A ------------------------------------------------------------------------------------------------------------------------------------*/ 

.sec-a {
    flex: 1;
    background-color: #1F2937;
    color: white;
    padding: 124px 56px;
    gap: 40px;
}

.sec-a .left {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 16px;
}

.sec-a .left h2 {
    font-size: 50px;
}

.sec-a .left p {
    font-size: 24px;
    color: rgb(141, 142, 156);
}

.sec-a .left .sign-up {
    display: flex;
    background-color: #3882f6;
    color:#ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    padding: 8px 16px;
}

.sec-a .image {
    display: flex;
    height: 250px;  
    width: 400px;
    background-color: lightgray;
    border: 2px solid darkgray;
    justify-content: center;
    align-items: center;
}

/* SECTION B ----------------------------------------------------------------------------------------------------------------------------------- */

.sec-b {
    flex-direction: column;
    text-align: center;
    padding: 72px;
    gap: 48px;
}

.sec-b .heading {
    font-size: 30px;
    font-weight: bold;
}

.sec-b ul {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.sec-b ul li {
    width: 100px;
}

.sec-b .rounded-box {
    border: 3px solid #3882f6;
    border-radius: 12px;
    height: 100px;
    width: 100px;
    margin-bottom: 12px;
}

/* SECTION C ----------------------------------------------------------------------------------------------------------------------------------- */

.sec-c {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 200px 40vh;
}

.sec-c .quote {
    font-size: 36px;
    font-weight: 300;
    color: rgb(88, 88, 88);
}

.sec-c .sig {
    font-size: 30px;
    align-self: flex-end;
    font-weight: 600;
    color: rgb(44, 44, 44);
}

/* SECTION D ---------------------------------------------------------------------------------------------------------------------------------- */
.sec-d .box {
    display: flex;
    margin: 36px;
    padding: 24px 72px;
    border-radius: 12px;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 120px;

}

.sec-d .box .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-d .box button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 124px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

/* FOOTER --------------------------------------------------------------------------------------------------------------------------------------- */

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 24px;
}

.footer p {
    color: whitesmoke;
}