body {
    font-family: "roboto", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(231, 134, 134);
}   

.sec-a,
.sec-b,
.sec-c,
.sec-d {
    display: flex;
    padding: 72px;
    border: 3px solid rgb(231, 134, 134);
}


.header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    height: 72px;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(231, 134, 134);
}

.header ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    color: white;
    margin: 12px;
}

.sec-a .sec-a-left {
    display: flex;
    flex-direction: column;

}

.sec-b {
    flex-direction: column;
}

.sec-b ul{
    display: flex;
    list-style: none;
}

.rounded-box {
    border: 3px solid black;
    border-radius: 8px;
    height: 72px;
    width: 72px;
}
