/* SETUP -----------------------------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: "roboto", sans-serif, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(231, 134, 134);
}   

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.sec-a,
.sec-b,
.sec-c,
.sec-d {
    display: flex;
    padding: 72px;
    border: 3px solid rgb(231, 134, 134);
    justify-content: center;
    align-items: center;
    gap: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* HEADER ------------------------------------------------------------------------------------------------------------------------------------ */

.header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding: 24px 124px;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(231, 134, 134);
}

.header p {
    font-size: 24px;
}

.header ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.header ul li a {
    text-decoration: none;
    color: white;
    margin: 12px;
}

/* SECTION A ------------------------------------------------------------------------------------------------------------------------------------*/ 

.sec-a {
    background-color: #1F2937;
    color: white;
}

.sec-a .left {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.sec-a .left h2 {
    font-size: 50px;
}

.sec-a .left p {
    font-size: 24px;
    color: rgb(141, 142, 156);
}

.sec-a .left .sign-up {
    display: flex;
    background-color: #3882f6;
    color:#ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    padding: 8px 16px;
}

.sec-a .image {
    display: flex;
    height: 250px;  
    width: 400px;
    background-color: lightgray;
    border: 2px solid darkgray;
    justify-content: center;
    align-items: center;
}

/* SECTION B ----------------------------------------------------------------------------------------------------------------------------------- */

.sec-b {
    flex-direction: column;
    text-align: center;
}

.sec-b ul {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.sec-b ul li {
    width: 72px;
}

.sec-b .rounded-box {
    border: 3px solid black;
    border-radius: 8px;
    height: 72px;
    width: 72px;
}

/* SECTION C ----------------------------------------------------------------------------------------------------------------------------------- */

.sec-c {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 200px 40vh;
}

.sec-c .quote {
    font-size: x-large;
    color: gray;
}

.sec-c .sig {
    font-size: large;
    align-self: flex-end;
}

/* SECTION D ---------------------------------------------------------------------------------------------------------------------------------- */

.sec-d .box {
    display: flex;
    margin: 100px 300px;
    border-radius: 12px;
    background-color: blue;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 16px;
    padding: 16px; 
}

.sec-d .box .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-d .box button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 124px;
    border: 2px solid white;
    border-radius: 8px;
}

/* FOOTER --------------------------------------------------------------------------------------------------------------------------------------- */

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 24px;
}

.footer p {
    color: whitesmoke;
}
