body {
    font-family: "roboto", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(231, 134, 134);
}   

.sec-a,
.sec-b,
.sec-c,
.sec-d {
    display: flex;
    padding: 72px;
    border: 3px solid rgb(231, 134, 134);
    justify-content: center;
    align-items: center;
    gap: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    height: 72px;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(231, 134, 134);
}

.header ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.header ul li a {
    text-decoration: none;
    color: white;
    margin: 12px;
}

.sec-a .sec-a-left {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.sec-a .image {
    display: flex;
    height: 250px;  
    width: 400px;
    background-color: lightgray;
    border: 2px solid darkgray;
    justify-content: center;
    align-items: center;
}

.sec-b {
    flex-direction: column;
    text-align: center;
}

.sec-b ul {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.sec-b ul li {
    width: 72px;
}

.sec-b .rounded-box {
    border: 3px solid black;
    border-radius: 8px;
    height: 72px;
    width: 72px;
}

.sec-c {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 200px 40vh;
}

.sec-c .quote {
    font-size: x-large;
    color: gray;
}

.sec-c .sig {
    font-size: large;
    align-self: flex-end;
}
