body {
    font-family: Roboto, "Roboto", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}   

.header {
    background-color: #1F2937;
    height: 72px;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    font-size: 18px;
    color: #E5E7EB;
}

